/* reset */
* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

html, body{
  width : 100%;
  height : 100%;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

.pink{
  color : #D60063;
}



p, article{
  font-family: Quicksand;
  font-size: 1rem;
  color: #e1eded;
  margin: 1rem;
  text-align: center;
}

/* header */
header {
  background-color: rgba(16, 18, 18, 1);
  color : #e1eded;
  display : flex;
  align-items: center;
  height: 12vh;
  z-index : 10;
  top : 0;
  width : 100%;
  position : fixed;
}

header h1 {
  flex : 1;
  margin-left: 3rem;
  font-family : earthorbiter;
  font-size: 3rem;
  transform: uppercase;
  user-select: none;
}

header nav {
  flex : 2;
}

.nav-links {
  display:flex;
  list-style : none;
  justify-content: space-around;
  align-items: center;
  font-family: neuropol;
  font-size: 1.1rem;
  width : 90%;
}

li a{
  color : #0892D0;
  text-decoration: none;
  transition: color 700ms ease;
  outline: 0;
}

li a:hover{
  background: linear-gradient(to right, #e1eded, #0892D0);
  color: #e1eded;
  -webkit-background-clip : text;
  -webkit-text-fill-color : transparent;
}

section{
  min-height: 100vh;
  height:100%;
  padding-top: 12vh;
}

/* canvas */
#bg {
  width : 100%;
  height : 100vh;
  background : #101212;
  position : fixed;
  top : 0;
  left : 0;
  z-index : -3;
}
#brain-canvas{
  width : 100%;
  height : 100vh;
  background : #101212;
  position : fixed;
  top : 0;
  left : 0;
  z-index : -2;

}

/* home */
#home{
  top:0;
}
/* #D60063 */

#home h1 {
  z-index: -1;
  position: fixed;
  font-family: neuropol;
  font-size: 5rem;
  text-transform: uppercase;
  margin-left: 7vw;
  color: #e1eded;
  user-select: none;
  opacity: 0;
  margin-top: 30vh;
}


#about{
  width : 80%;
  margin: auto;
  display: block;
}


h2{
  font-family: Quicksand;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  color: #e1eded;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 2.5rem;
}
#about h2{
  line-height: 0;
  margin-top: 3.5rem;
  margin-bottom: 0;
}

#about h3{
  font-family: Dancing Script;
  font-size: 2.2rem;
  opacity: 0.9;
  line-height: 0;
  margin-bottom: 5rem;
  color : #0892D0;
  text-shadow: 1px 1px #101212;
  text-align: center;
}

.about-grid{
  width : 100%;
  display : grid;
  grid-template-columns : 1fr 1fr;
  /* grid-template-rows : 60vh; */
}

.about-grid .borders{
  grid-column-start : 1;
  grid-row-start : 1;
  margin : 10%;
  align-self : center;
  height : 80%;
  border-left: 3px solid #D60063;
}

.about-grid .inner-text{
  grid-column-start : 1;
  grid-row-start : 1;
  margin : 0 25% 0 5%;
  text-align : left;
  align-self : center;
  background-color: #101212;
}

.about-grid img{
  grid-column-start : 2;
  grid-row-start : 1;
  padding: 10%;
  max-height : 60vh;
  align-self : center;
  /* border-right : 3px solid #D60063;
  border-top : 3px solid #D60063;
  border-bottom : 3px solid #D60063; */
  border-right : 3px solid #0892D0;
  border-top : 3px solid #0892D0;
  border-bottom : 3px solid #0892D0;
}

/* works */

#works .work-section{
  display: block;
  position: relative;
  width:100%;
  height:60vh;
}

#works .canvas-container{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width : 100%;
  height : 60%;

  margin: auto;
  margin-bottom: 10%;
}

#works .canvas-container canvas{
  width:100%;
  height:100%;
  background-color: #101212;
}

#works .worklist{
  display: none;
  list-style : none;
}

/* #works .worklist .work{
  width:100%;
  height:100%;
  background-color: rgba(16, 18, 18, 0.9);
  border: 2px solid #D60063;
} */






















/* projects */

.projects-glide .card{
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;

  margin:auto;
  height: 60vh;
  width : 50vw;

}
.activeCard{
  transform: scale(1.13);
  z-index: 3;
}

.vertical-alignment{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.projects-glide .card img{
  display: block;
  height : 50vh;
  width : 40vw;
  margin:auto;
  margin-top: 5vh;
  grid-column-start: 1;
  grid-row-start: 1;
  transition: 0.5s ease;
  border-radius: 1%;
  /* border: 3px solid rgba(8, 146, 208, 0.99); */
  filter : grayscale(0%);
}

.projects-glide .card article{
  /* vertical-align: middle; */
  display: block;
  margin-top: 5vh;
  margin-left : auto;
  margin-right: auto;
  height : 70vh;
  width : 30vw;
  grid-column-start: 1;
  grid-row-start: 1;
  transition: 0.5s ease;
  opacity: 0;
  text-align: left;
}


#contact form{
  display: flex;
  flex-direction: column;
  width : 40%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

input:invalid, textarea:invalid {
    box-shadow:none;
}
/* #contact form > div{
  margin-bottom: 5vh;
} */
#contact form input, #contact form textarea{
  font-family: Quicksand;
  font-size: 1em;
}



#contact form .text-input-section{
  position: relative;
  width:100%;
}

#contact form .text-input-section label{
  font-family: Quicksand;
  font-size: 1.1em;
}

#contact form .text-input-section input{
  width:100%;
  height : 7vh;
  padding-top:6vh;
  border:none;
  background-color: transparent;
  color : #e1eded;
}

#contact form label{
  position: absolute;
  left : 0;
  bottom: 0;
  width:100%;
  height:100%;
  border-bottom: 2px solid #e1eded;
  pointer-events: none;
}

#contact form label::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left : 0;
  bottom : -1px;
  border-bottom: 3px solid #0892D0;
  transition: transform 300ms ease;
  transform: translateX(-100%);
}

#contact form label span{
  color : #e1eded;
  position: absolute;
  left : 0px;
  bottom : 0px;
  transition: transform 300ms ease;
}

#contact form .text-input-section input:focus + label span,
#contact form .text-input-section input:valid + label span
{
  transform: translateY(-130%) scale(0.8);
  color: #0892D0;
}
#contact form .text-input-section input:focus + label,
#contact form .text-input-section input:valid + label
{
  border-bottom: transparent;
}

#contact form .text-input-section input:focus + label::after,
#contact form .text-input-section input:valid + label::after
{
  transform: translateX(0);
}

#contact form .text-input-section-content{
  position: relative;
  width:100%;
  height : 10vh;
}

#contact form .text-input-section textarea{
  resize:none;
  width:100%;
  height:20vh;
  border: 2px solid #e1eded;
  transition: all 300ms ease;
  background-color: transparent;
  color : #e1eded;
  margin: 5vh 0 5vh 0;
}

#contact form .text-input-section textarea:focus,
#contact form .text-input-section textarea:valid
{
  border: 2px solid #0892D0;
}

#contact .submit-section{
  position: relative;
  display: flex;
  width : 20%;
  height : 6vh;
  overflow: hidden;
}

#contact .submit-section span{
  position: absolute;
  width:100%;
  height: 100%;
  pointer-events: none;
}

#contact .submit-section .before-submit{
  background-color: #0892D0;
  z-index: -2;
}

#contact .submit-section .after-submit{
    background-color: #D60063;
    z-index: -1;
    transform: translateX(-100%);
    transition: .5s ease;
}

#contact form input[type=submit]{
  background: transparent;
  position: absolute;
  width:100%;
  height: 6vh;
  box-shadow: none;
  border: 2px solid #e1eded;
  color: #e1eded;
  outline: none;
  cursor: pointer;
}
#contact form input[type=submit]:hover{
  color: #e1eded;
}
#contact form input[type=submit]:hover + .after-submit{
  transform: translateX(0);
}
